<div class="row justify-content-center px-5 mx-5">
  <div class="c-pointer text-danger ml-auto"(click)="logout()">logout</div>
  <div class="d-flex space-around w-100">
     <h3 class="f3 strong">Group List</h3></div>
  <div class="list-group w-100 mt-3">
    <ng-container *ngFor="let group of GroupList">
      <button type="button" class="list-group-item list-group-item-action align-space-betn mx-3" (click)="groupSelection(group._id)">
        <div>{{group.name}}</div>
        <div> Group ID: #{{group._id}}</div>
      </button>
    </ng-container>
  </div>
  <div class="d-flex space-around w-100 mt-4">
    <div class="c-pointer btn btn-outline-info w-120p" (click)="prev()">&#10094; Previous </div>
    <div class="c-pointer btn btn-outline-info w-120p" (click)="next()">Next  &#10095;</div>
  </div>
</div>
